{% extends 'base.html' %}
{% block body %}
<h1>SEND DATA FORM</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for='name'>Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select type="text" class="form-control" id="gender" name="gender" required>
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <select class="form-control" id="course" name="course" required>
            <option>Python</option>
            <option>JAVA</option>
            <option>Android</option>
        </select>
    </div>
    <div class="form-group">
        <label for="level">Level</label>
        <select class="form-control" id="level" name="level" required>
            <option>Beginner</option>
            <option>Standard</option>
            <option>Advanced</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save">
    </div>

{% endblock %}